<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5">New Book</h2>
                <form method="post" enctype="multipart/form-data" th:object="${sach1dto}">
                    <!-- MaSach -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Mã Sách</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${sach1dto.MaSach}">
                            <p th:if="${#fields.hasErrors('MaSach')}" th:errorclass="text-danger" th:errors="${sach1dto.MaSach}"></p>
                        </div>
                    </div>

                    <!-- TenSach -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Tên Sách</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${sach1dto.tenSach}">
                            <p th:if="${#fields.hasErrors('tenSach')}" th:errorclass="text-danger" th:errors="${sach1dto.tenSach}"></p>
                        </div>
                    </div>

                    <!-- GiaGoc -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Giá Gốc</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" step="0.01" min="0" th:field="${sach1dto.GiaGoc}">
                            <p th:if="${#fields.hasErrors('GiaGoc')}" th:errorclass="text-danger" th:errors="${sach1dto.GiaGoc}"></p>
                        </div>
                    </div>

                    <!-- GiaKM -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Giá Khuyến Mãi</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" step="0.01" min="0" th:field="${sach1dto.GiaKM}">
                            <p th:if="${#fields.hasErrors('GiaKM')}" th:errorclass="text-danger" th:errors="${sach1dto.GiaKM}"></p>
                        </div>
                    </div>

                    <!-- TenTG -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Tác Giả</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${sach1dto.TenTG}">
                            <p th:if="${#fields.hasErrors('TenTG')}" th:errorclass="text-danger" th:errors="${sach1dto.TenTG}"></p>
                        </div>
                    </div>

                    <!-- TenDoiTuong -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Đối Tượng</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${sach1dto.TenDoiTuong}">
                            <p th:if="${#fields.hasErrors('TenDoiTuong')}" th:errorclass="text-danger" th:errors="${sach1dto.TenDoiTuong}"></p>
                        </div>
                    </div>

                    <!-- SoTrang -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Số Trang</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" step="0.01" min="0" th:field="${sach1dto.SoTrang}">
                            <p th:if="${#fields.hasErrors('SoTrang')}" th:errorclass="text-danger" th:errors="${sach1dto.SoTrang}"></p>
                        </div>
                    </div>

                    <!-- SoLuongCon -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Số Lượng Hàng</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" step="0.01" min="" th:field="${sach1dto.SoLuongCon}">
                            <p th:if="${#fields.hasErrors('SoLuongCon')}" th:errorclass="text-danger" th:errors="${sach1dto.SoLuongCon}"></p>
                        </div>
                    </div>

                    <!-- LinkAnh -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Link Ảnh</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" th:field="${sach1dto.LinkAnh}">
                            <p th:if="${#fields.hasErrors('LinkAnh')}" th:errorclass="text-danger" th:errors="${sach1dto.LinkAnh}"></p>
                        </div>
                    </div>
                       <!-- MaDM -->
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Mã DM</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" th:field="${sach1dto.MaDM}">
                            <p th:if="${#fields.hasErrors('MaDM')}" th:errorclass="text-danger" th:errors="${sach1dto.MaDM}"></p>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a th:href="@{/books}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>